
#loading-image {
	background-color: #333;
	width: 55px;
	height: 55px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px;
}